#MenuDropdownMeal{
    float:right; 
    padding-top:3px;
}

#AddMealButton i{
    color:gold;
}

#AddMealButton:disabled i{
    color:rgba(255,215,0, 0.4);
}

#RemoveMealButton i{
    color: red;
}

#AddMealButton{
border:none; 
background-color:transparent;
height: 50px;
text-align: center!important;
margin: auto!important;
}

#MealsAddDropdown{
    height:50px;    
    width:100%;
    text-align:center;
    background-color: sandybrown;
}

#MenuItemsTable button{
    width:100px;
}

#RemoveMealButton {
    border:none; 
    background-color:transparent;
    height: 50px;
}

table, tr, td, th {
    vertical-align: middle!important;
    text-align: center!important;
}

.glupi-bootstrap-ne-razume-vertical-align {
    padding-top: 8px;
}

    .btn-primary {
        background-color: crimson;
    }

        .btn-primary:active {
            background-color: gold	;
        }

        .btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
            background-color: gold	;
        }

            .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
                background-color: rgba(255,215,0, 0.8);
                
            }
        .btn-primary:hover {
            background-color: rgba(220,20,60, 0.8);
        }


.table tr th {
    background-color: sandybrown!important;
    border: 1px solid white;
        font-size: 18px!important;
    font-weight: bold;
    color: crimson!important;
}

.table {
color:crimson;
font-size:14px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: rgba(244,164,96, 0.3);
}


.restourant-table {
    width:100%;
    height: 200px;
    border: inset 10px rgba(220,20,60, 1);
    margin-bottom:10px!important;

}

    .no-padding {
        padding: 0!important;
    }

.add-order-div {
    vertical-align:central;
    text-align:center;
    height: 100%;
    width: 100%;
}

.no-order {
    color: darkred;
}


.no-order:hover {
    background-color:rgba(255,215,0, 0.8);
    transition: background-color ease-in 0.5s;
}

    .no-order a div{
        height: 100%;
        width: 100%;
    }

        .no-order a div span {
            font-size:30px;
        }

.fa-plus-circle {
    padding-top: 30px;
}

.restourant-table div {
    height: 100%;
}

#statusOfTheOrder, #orderDetails {
    width:100%;
    height: 50%;
}

.left-part-tables {
    background-color:sandybrown!important;
    color: darkred;
    text-align: center;
}

    .left-part-tables span {
        vertical-align: middle;
    }


.right-part-tables {
    /*background-color: rgba(255,215,0, 0.4);*/
    background: -moz-linear-gradient(45deg, rgba(255,207,50,1) 0%, rgba(255,207,50,0.96) 1%, rgba(255,255,255,0.85) 4%, rgba(255,207,50,0.75) 7%, rgba(255,255,255,0.64) 10%, rgba(255,207,50,0.57) 12%, rgba(255,239,187,0.5) 14%, rgba(255,255,255,0.5) 15%, rgba(255,207,50,0.5) 18%, rgba(255,255,255,0.5) 21%, rgba(255,207,50,0.5) 24%, rgba(255,255,255,0.5) 26%, rgba(255,207,50,0.5) 28%, rgba(255,255,255,0.5) 31%, rgba(255,207,50,0.5) 33%, rgba(255,255,255,0.5) 36%, rgba(255,207,50,0.5) 38%, rgba(255,255,255,0.5) 41%, rgba(255,207,50,0.5) 44%, rgba(255,255,255,0.5) 47%, rgba(255,207,50,0.5) 50%, rgba(255,255,255,0.5) 53%, rgba(255,207,50,0.5) 55%, rgba(255,255,255,0.5) 57%, rgba(255,207,50,0.5) 60%, rgba(255,255,255,0.5) 63%, rgba(255,207,50,0.5) 66%, rgba(255,255,255,0.5) 70%, rgba(255,207,50,0.5) 72%, rgba(255,255,255,0.5) 75%, rgba(255,207,50,0.5) 78%, rgba(255,255,255,0.5) 81%, rgba(255,207,50,0.5) 84%, rgba(255,255,255,0.5) 88%, rgba(255,207,50,0.5) 90%, rgba(255,255,255,0.5) 95%, rgba(255,207,50,0.5) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(255,207,50,1) 0%,rgba(255,207,50,0.96) 1%,rgba(255,255,255,0.85) 4%,rgba(255,207,50,0.75) 7%,rgba(255,255,255,0.64) 10%,rgba(255,207,50,0.57) 12%,rgba(255,239,187,0.5) 14%,rgba(255,255,255,0.5) 15%,rgba(255,207,50,0.5) 18%,rgba(255,255,255,0.5) 21%,rgba(255,207,50,0.5) 24%,rgba(255,255,255,0.5) 26%,rgba(255,207,50,0.5) 28%,rgba(255,255,255,0.5) 31%,rgba(255,207,50,0.5) 33%,rgba(255,255,255,0.5) 36%,rgba(255,207,50,0.5) 38%,rgba(255,255,255,0.5) 41%,rgba(255,207,50,0.5) 44%,rgba(255,255,255,0.5) 47%,rgba(255,207,50,0.5) 50%,rgba(255,255,255,0.5) 53%,rgba(255,207,50,0.5) 55%,rgba(255,255,255,0.5) 57%,rgba(255,207,50,0.5) 60%,rgba(255,255,255,0.5) 63%,rgba(255,207,50,0.5) 66%,rgba(255,255,255,0.5) 70%,rgba(255,207,50,0.5) 72%,rgba(255,255,255,0.5) 75%,rgba(255,207,50,0.5) 78%,rgba(255,255,255,0.5) 81%,rgba(255,207,50,0.5) 84%,rgba(255,255,255,0.5) 88%,rgba(255,207,50,0.5) 90%,rgba(255,255,255,0.5) 95%,rgba(255,207,50,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(255,207,50,1) 0%,rgba(255,207,50,0.96) 1%,rgba(255,255,255,0.85) 4%,rgba(255,207,50,0.75) 7%,rgba(255,255,255,0.64) 10%,rgba(255,207,50,0.57) 12%,rgba(255,239,187,0.5) 14%,rgba(255,255,255,0.5) 15%,rgba(255,207,50,0.5) 18%,rgba(255,255,255,0.5) 21%,rgba(255,207,50,0.5) 24%,rgba(255,255,255,0.5) 26%,rgba(255,207,50,0.5) 28%,rgba(255,255,255,0.5) 31%,rgba(255,207,50,0.5) 33%,rgba(255,255,255,0.5) 36%,rgba(255,207,50,0.5) 38%,rgba(255,255,255,0.5) 41%,rgba(255,207,50,0.5) 44%,rgba(255,255,255,0.5) 47%,rgba(255,207,50,0.5) 50%,rgba(255,255,255,0.5) 53%,rgba(255,207,50,0.5) 55%,rgba(255,255,255,0.5) 57%,rgba(255,207,50,0.5) 60%,rgba(255,255,255,0.5) 63%,rgba(255,207,50,0.5) 66%,rgba(255,255,255,0.5) 70%,rgba(255,207,50,0.5) 72%,rgba(255,255,255,0.5) 75%,rgba(255,207,50,0.5) 78%,rgba(255,255,255,0.5) 81%,rgba(255,207,50,0.5) 84%,rgba(255,255,255,0.5) 88%,rgba(255,207,50,0.5) 90%,rgba(255,255,255,0.5) 95%,rgba(255,207,50,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

a{
    color:darkcyan;
}

a:hover {
}
