@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@section Scripts{
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-component-router/angular_1_router.js"></script>
    <script src="~/lib/angular-cookies/angular-cookies.js"></script>
    <script src="~/JS/BootstrapAngular.js"></script>
    <script src="~/components/menu.component.js"></script>
    <script src="~/components/restourant.component.js"></script>
    <script src="~/components/restourantTables.component.js"></script>
    <script src="~/components/showOrder.component.js"></script>
    <script src="~/components/addItemToOrder.component.js"></script>
    <script src="~/Services/common.service.js"></script>
    <script src="~/Services/logger.service.js"></script>
    <script src="~/Services/constant.service.js"></script>
    <script src="~/Services/data.service.js"></script>

}

<div class="row" ng-app="menu-index" >

    <restourant></restourant>

</div>